<h1>Listing Pickup Adults</h1>

<% @pickup_adults.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |pickup_adult| %>
      <div class="col-md-4">
        <h4><%= link_to pickup_adult.name, pickup_adult %></h4>
        <%= pickup_adult.description %>
      </div>
    <% end %>
  </div>
<% end %>








